.Date {
  font-family: "Roboto Mono", monospace;
  margin: 0 auto;
  display: block;
  text-align: center;
  position: relative;
  bottom: 45px;
  color: #ba71ae;
}

.Humidity{
  font-family: "Roboto Mono", monospace;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  position: relative;
  top: 23px;
  right: 40px;
  color: white;
  font-size: 15px;
}

.Wind {
   font-family: "Roboto Mono", monospace;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  position: relative;
  top: 23px;
  left: 40px;
  color: white;
  font-size: 15px;
}

.City {
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  display: block;
  text-align: center;
  position: relative;
  top: 40px;
}

.Description {
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0 auto;
  display: block;
  text-align: center;
  position: relative;
  top: 50px;
  color: #20656f;
}

.Degrees {
  margin: 0 auto;
  display: block;
  text-align: center;
  position: relative;
  top: 10px;
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
  font-size: 45px;
  color: #20656f;
  right: 7px;
}

.Units {
  margin: 0 auto;
  display: block;
  text-align: center;
  position: relative;
  bottom: 35px;
  font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
  font-size: 45px;
  color: #20656f;
  left: 99px;
}

/* ICON */
canvas {
  margin: 0 auto;
  display: block;
  text-align: center;
  position: relative;
  top: 60px;
  right: 113px;
}

/* FORM */

.form-div {
  text-align: center;
  margin: 0 auto;
  display: inline;
  position: relative;
  top: 350px;
}

input {
  border: white solid 5px;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

.search-button {
  background-color: #9fdae1;
  border: #9fdae1 solid 5px;
  color: #20656f;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
}

.search-button:hover {
  cursor: pointer;
}

.search-button:focus {
  outline: none;
}

/* Fahrenheit and Celsius */

.Fahrenheit {
  background-color: #43bdd0;
  color: black;
  font-family: "ROBOTO MONO";
  font-size: 27px;
  font-weight: bolder;
  border: 10px solid #43bdd0;
  border-radius: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
  bottom: 67px;
  left: 255px;
}

.Fahrenheit:focus {
  outline: 0;
}

.Fahrenheit:hover {
  cursor: pointer;
}


.Celsius {
  background-color: #eae72c;
  color: black;
  font-family: "ROBOTO MONO";
  font-size: 27px;
  font-weight: bolder;
  border: 11px solid #eae72c;
  border-radius: 100%;
  margin: 0 auto;
  display: block;
  position: relative;
  bottom: 150px;
  left: 328px;
}

.Celsius:focus {
  outline: 0;
}

.Celsius:hover {
  cursor: pointer;
}

/* EXTENDED FORECAST */

/* Column LEFT */
.Column-1 {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  position: relative;
  bottom: 137px;
  margin-right: 15px;
  margin-left: 15px;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

.hour-one {
  margin: 0 auto;
}

.forecastTemperature{
  margin: 0 auto;
  text-align: center;
  position: relative;
  left: 3px;
}

.boldWeather {
  font-weight: bolder;
  font-family: "system-ui";
}

.forecastIcon {
  height: 50px;
  display: block;
  margin: 0 auto;
}

/* Colum 2 - MIDDLE */

.Column-2 {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  position: relative;
   bottom: 137px;
  margin-right: 15px;
  margin-left: 15px;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

.hour-one {
  margin: 0 auto;
}

.forecastTemperature{
  margin: 0 auto;
  text-align: center;
  position: relative;
  left: 3px;
}

.boldWeather {
  font-weight: bolder;
  font-family: "system-ui";
}

.forecastIcon {
  height: 30px;
  display: block;
  margin: 0 auto;
  position: relative;
  bottom:60px;
}

/* Column 3- RIGHT */

.Column-3 {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  position: relative;
   bottom: 137px;
  margin-right: 15px;
  margin-left: 15px;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

.hour-one {
  margin: 0 auto;
}

.forecastTemperature{
  margin: 0 auto;
  text-align: center;
  position: relative;
  left: 3px;
}

.boldWeather {
  font-weight: bolder;
  font-family: "system-ui";
}

.forecastIcon {
  height: 50px;
  display: block;
  margin: 0 auto;
}